<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/home.css">
    <link rel="icon" type="image/png" href="img/logo.png">
    
    <title>Acervo</title>
</head>
<body>
    <header class="cabecalho">
        <img class="logo" src="img/logo.png">
        <ul class="cabecalho-lista">
            <li class="cabecalho-lista-item">
                <a class="cabecalho-lista-item-link" href="/home">HOME</a>
            </li>
            <li class="cabecalho-lista-item">
                <a class="cabecalho-lista-item-link" href="/acervo">ACERVO</a>
            </li>
        </ul>
    </header>

    <main>
        <section class="livros" id="livros">
            
        </section>
    </main>

    <footer>
        <section class="midias-sociais">
            <h1>Fale conosco através do:</h1>
            <div class="midias-sociais-item">
                <img class="midias-sociais-item-img" src="img/insta.webp" alt="logo do instagram">
                <a class="midias-sociais-item-link" href="https://www.instagram.com">Instagram</a>
            </div>

            <div class="midias-sociais-item">
                <img class="midias-sociais-item-img" src="img/face.png" alt="logo do facebook">
                <a class="midias-sociais-item-link" href="https://www.facebbok.com">Facebook</a>
            </div>
        </section>
    </footer>

    <script src="script/acervo.js"></script>
</body>
</html>