<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/login.css">
    <link rel="icon" type="image/png" href="img/logo.png">

    <title>Cadastro</title>
</head>
<body>
    <main>
        <section class="login">
            <div class="apresentacao">
                <img class="img" src="img/logo.png">
                <h1 class="titulo">Faça seu cadastro abaixo:</h1>
            </div>
            <form class="form">
                <input class="entrada" id="nome" type="text" placeholder="nome de usuário" name="nome-de-usuario">
                <input class="entrada" id="email" type="email" placeholder="email" name="email">
                <input class="entrada" id="senha" type="password" placeholder="senha" name="senha">

                <input class="button" id="botao" type="submit" value="Entrar">
            </form>
        </section>

        <script src="script/cadastro.js"></script>
    </main>
</body>