<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/login.css">
    <link rel="icon" type="image/png" href="img/logo.png">

    <title>Login</title>
</head>
<body>
    <main>
        <section class="login">
            <div class="apresentacao">
                <img class="img" src="img/logo.png">
                <h1 class="titulo">Faça login abaixo:</h1>
            </div>
            <form class="form">
                <input id="email" class="entrada" type="email" placeholder="email" name="email">
                <input id="senha" class="entrada" type="password" placeholder="senha" name="senha">
                <input id="botao" class="button" type="submit" value="Entrar">
            </form>
        </section>
    </main>

    <script src="script/login.js"></script>
</body>