<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/home.css">
    <link rel="icon" type="image/png" href="img/logo.png">
    
    <title>Home</title>
</head>
<body>
    <header class="cabecalho">
        <img class="logo" src="img/logo.png">
        <ul class="cabecalho-lista">
            <li class="cabecalho-lista-item">
                <a class="cabecalho-lista-item-link" href="/home">HOME</a>
            </li>
            <li class="cabecalho-lista-item">
                <a class="cabecalho-lista-item-link" href="/acervo">ACERVO</a>
            </li>
        </ul>
    </header>

    <main>
        <section class="objetivo">
            <div class="objetivo-texto">
                <h1 class="objetivo-texto-titulo">Objetivo</h1>
                <p class="objetivo-texto-sobre">armazenar e preservar coleções de objetos, materiais ou informações com valor histórico, cultural, educacional, científico ou artístico. Um acervo pode ser mantido por diferentes instituições, como bibliotecas, museus, arquivos, galerias de arte, centros de pesquisa, entre outros.</p>
            </div>
            <img src="img/library.webp">
        </section>
    </main>

    <footer>
        <section class="midias-sociais">
            <h1>Fale conosco através do:</h1>
            <div class="midias-sociais-item">
                <img class="midias-sociais-item-img" src="img/insta.webp" alt="logo do instagram">
                <a class="midias-sociais-item-link" href="">Instagram</a>
            </div>

            <div class="midias-sociais-item">
                <img class="midias-sociais-item-img" src="img/face.png" alt="logo do facebook">
                <a class="midias-sociais-item-link" href="">Facebook</a>
            </div>
        </section>
    </footer>
</body>
</html>