<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/reset.css">
    <link rel="stylesheet" href="style/apresentacao.css">
    <link rel="icon" type="image/png" href="img/logo.png">

    <title>Acervo</title>
</head>
<body>
    <main>
        <div>
            <img class="img" src="img/imgIndex.webp">
        </div>

        <section class="info-acervo">
            <h1 class="titulo">O maior acervo da <strong class="titulo-colorido">America Latina</strong></h1>
            <p class="sobre">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            
            <section class="entrar">
                <input class="button" id="button" type="button" value="Faça seu login aqui">
                <p>Não possui cadastro? <strong class="cadastro" id="cadastro">Cadastre-se aqui!</strong></p>
            </section>
        </section>
    </main>

    <script src="script/index.js"></script>
</body>
</html>